body {
  font-family: san-serif;
  background: rgb(128, 139, 134);
  color: black;
  text-align: center;
}
.introduction{
  font-family: san-serif;
  background: rgb(128, 139, 134);
  color: black;
  text-align: center;
  font-size: 25px;
}
.Header {
  background-color: rgb(102, 114, 108);
  color: rgb(247, 250, 251);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-item: center;
  font-size: 50px;
}
.about {
  font-family: san-serif;
  background: rgb(128, 139, 134);
  color: black;
  text-align: center;
  font-size: 30px;
}
/* search container */
.search-container{
  width: 490px;
  display: block;
  margin: 0 auto;
}
input#search-bar{
  margin: 0 auto;
  width: 108%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }

    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
  	 opacity: 0;
     }    
   }
 }

.search-icon{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -45px;
}

/* button */
button {
  border: 0;
  background-color: white;
  content: " ";
  outline: thin;
  position: relative;
  width: 90px;
  height: 40px;

  &:before,
  &:after {
    top: 30%;
    right: 35%;
    bottom: 30%;
    left: 35%;
    content: " ";
    position: absolute;
    border-color: #333333;
    border-style: solid;
    border-width: 0 0 1px 0;
  }
  &:hover {
    background-color: #cccccc;
  }
}

.seen:before,
.seen:after {
  bottom: 45%;
}
.seen .seen:before {
  border-bottom-width: 1px;
}

.search:after,
.search:before {
  box-shadow: 40px -40px 0px -8px rgba(0, 0, 0, 1);
}
.search:before,
.search:before{
  width: 15px;
  height: 10px;
  border-color: #333333;
  border-style: solid;
  border-width: 2px 1px 1px 1px;
}
.maximized:after {
  position: absolute;
  top: 7px;
  right: 9px;
  left: auto;
  width: 15px;
  height: 10px;
  border-color: #333333;
  border-style: solid;
  border-width: 2px 1px 1px 1px;
  z-index: -1;
}
.found:before,
.found:after {
  border-bottom-width: 1px;
  bottom: 50%;
  top: 50%;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.close:hover {
  background-color: #e04343;
}
.close:hover:before,
.close:hover:after {
  border-color: #ffffff;
}
h2{
  text-align:center;
  color:teal;
  margin:0 0 40px 0;
  text-shadow: 1px 1px 2px #3d3d3d;
  text-color:black;
}
.image_description{
  width: 715px;
  height: 175px;
  display:block;
  float:center;
  transition: box-shadow 0.9s;
  border:1px solid #F8F8F8;
  background-color: #F8F8F8;
  margin:0;
  padding:0;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
}
.image_description:hover{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  -moz-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}
.image_block{
  float:left;
  margin: 0;
  width: 35%;
  /*height: 200px;
  border: 1px solid #ddd;
  background: gray;*/
}
.image_block img{
  width:250px;
  height:175px;
  /*height: -webkit-fill-available;*/
}
.description_block{
  float:left;
  width: 50%;
  margin: 0;
  padding:20px 15px;
 display: block;
}
.title{
  font-size:18px;
  line-height:24px;
  font-weight:bold;
  margin-bottom:10px;
}
.content{
  margin:0 0 20px 0;
  line-height:26px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 20px;
  max-height: 80px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-color:black;
}
.labels span{
  float:left;
  color:green;
  font-weight:bold;
  cursor:pointer;
  text-color:black;
}
.label {
  text-color:black;
}
.labels a{
  color:red;
  float: right;
  font-weight:bold;
  text-decoration:box;
  text-color:black;
}

.input-field {
  position: relative;
}
.input-field input {
  width: 350px;
  height: 60px;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  outline: none;
}
.input-field label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: rgb(128, 139, 134);
  font-size: 19px;
  pointer-events: none;
  transition: 0.3s;
  text-color:black;
}
input:focus {
  border: 7px solid rgb(128, 139, 134);
}
input:focus ~ label,
input:valid ~ label {
  top: 0;
  left: 15px;
  font-size: 16px;
  padding: 0 2px;
  background: #353842;
  text-color:black;
}


//This is all the styling you need for the button
.m-backtotop {
    @include transition(all 0.3s ease-in-out);
    position: fixed;
    bottom: -50px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #222;
    border-radius: 25px;
    text-align: center;
    border: 2px solid #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    opacity: 0;
    overflow: hidden;
		color:#fff;

    &.active {
      bottom: 15px;
      opacity: 1;
    }

    & > div {
      @include transition(all 0.3s ease-in-out);
      &.arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        opacity: 1;
      }
      &.text {
        @include font-size(0.5, 1);
        text-transform: uppercase;
        font-weight: 900;
        font-family: $f-body;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(50%) translateX(-50%);
        opacity: 0;
        margin-top: 1px;
      }
    }

    &:hover {
      transform: scale(1.1);
			bottom:20px;
      cursor: pointer;
      background: darken(#222, 15%);
			box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);

      & > div {
        &.arrow {
          transform: translateY(-150%) translateX(-50%);
          opacity: 0;
        }
        &.text {
          transform: translateY(-50%) translateX(-50%);
          opacity: 1;
        }
      }
    }
  }


/* Button */
.btn {
  background: transparent;
  width: 200px;
  position: relative;
  padding: 15px;
  color: #1ECD97;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  border-radius: 4px;
  font-weight: 600;
  overflow: hidden;
  border: 2px solid #1ECD97;
  text-decoration: none;
}

/* In Progress Button */
.btn-progress {
  width: 150px;
  color: transparent;
}

.btn-fill:after {
  content: '';
  background: #1ECD97;
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
  transform: scaleX(0);
  transform-origin: 0;
  display: block;
  animation: fill 3.2s linear forwards;
}

/* Button Complete */
.btn-complete {
  padding: 10px;
  width: 50px;
  color: #fff;
  pointer-events: none;
}

.btn-complete:after {
  font-family: FontAwesome;
  content: "\f00c";
  color: #fff;
  height: 100%;
  padding-left: 3px;
  position: absolute;
  top: 0; left: 0; right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1ECD97;
}

/* Animation */
@keyframes fill {
  from { transform: scaleX(0); }
  to { transform: scaleX(1); }
}
